#api/config.js
api/node_modules
*npm-debug.log
.idea/
build
node_modules

# local uploads
uploads/*

# OSX files
*.DS_Store
terraform/exapmle.tf-example
terraform/file.txt
terraform/provider.tf
terraform/rest-hapi.tf
terraform/rest_hapi_db.tf.test
terraform/security-groups.tf
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variables.tf
