<h2>Test Page For Reset Password</h2>
<form action="/user/newpassword" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="password" name="password" />
    <input type="hidden" name="challenge" value="{{challenge}}" />
    <input type="hidden" name="username" value="{{username}}" />
    <input type="hidden" name="redirect" value="{{redirect}}" />
    <input type="submit" value="Set Password" />
</form>